.parallax-container{
	height: 400px !important;
}

#overl{
	background: rgba(15, 19, 19, 0.6) !important;
}
.city-cards{
	margin-top: : 20px !important;
	padding-left: 20px !important;
}

@media screen and (max-width: 480px){
	.modal{
	    width:70% !important;
	    height: 80% !important;
	    margin:0 auto;
	}
}

.collapsible{
	margin : 0px !important;
}

.card-content{
	height : 100px !important;
}

.collapsible-clas{
	padding: 0px !important;
}

.modal{
    width:55% !important;
    height: 60% !important;
    margin:0 auto;
    /*add what you want here*/
}
.search-modal{
	height: 40% !important;
}

.parallax-img{
	width: 20%;
}

.modal-content{
	padding: 0px !important;
}

.col-log{
	background: #007bff;
	padding-left: 20px !important;
	padding-top: 30px !important;
	height: 100% !important;
}

.col-row{
	margin-bottom: 0px !important;
	height: 100%;
}

.row-log-fields{
	padding-top: 30px !important;
	padding-left: 10px !important;
}

.input-field label {
	color: grey;
}

.input-field input:focus + label {
	color: grey !important;
}

.input-field input:focus {
	border-bottom: 1px solid #64b5f6 !important;
	box-shadow: 0 1px 0 0 #64b5f6 !important;
}

@media screen and (max-width: 600px) {
	#modal-log-content{
		display: none;
	}
}

.spinner {
	position: absolute;
	top: 48%;
	left: 48%;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #333;
	height: 100%;
	width: 6px;
	display: inline-block;

	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
	z-index: 999999;
}

.toast-mod{
	background: black !important;
}

.car-modal{
	margin: 10px !important;
}